.login_body {
    background: rgb(160, 160, 165);
}

.logo {
    width: 280px;
    height: 240px;
}

.login_col {
    background-color: rgb(242, 242, 242);
}

.login_btn {
    color: white;
    background-color: black;
    width: 100%;
}

.login_btn:hover {
    color: white;
    background-color: rgb(160, 160, 165);
}

.card {
    background: rgb(160, 160, 165);
    color: white;
}

.card_btn {
    background-color: black;
    color: white;
    width: 30%;
}

.card_btn:hover {
    background-color: white;
}

.bi {
    color: black;
}

.mg_bo_form {
    width: 35%;
}

.add_btn {
    width: 100%;
}